// NOTE: `Niri` input configuration file
input {
	keyboard {
		xkb {
			layout "us, ru"
			options "grp:nocaps"
		}
	}
	touchpad {
		tap
		natural-scroll
		scroll-method "two-finger"
	}
	mouse {
		accel-profile "flat"
		accel-speed -0.65
	}
	focus-follows-mouse
	mod-key "Super"
}