// Window rule config file
window-rule {
    	geometry-corner-radius 16
    	clip-to-geometry true
	opacity 1.0
	background-effect {
		blur false
		xray false
	}
}
window-rule {
    	match app-id="org.gnome.Calculator"
    	open-floating true
    	open-on-output "center"
}
window-rule {
	match app-id="zen"
	open-maximized true
}
window-rule {
	match app-id="discord"
	open-maximized true
}
window-rule {
	match app-id="spotify"
	open-maximized true
}
window-rule {
	match app-id="obsidian"
	open-maximized true
}
window-rule {
	match app-id="org.telegram.desktop"
	open-maximized true
}
window-rule {
	match app-id="com.ktechpit.whatsie"
	open-maximized true
}
window-rule {
	match app-id="com.ktechpit.whatsie"
	open-maximized true
}
window-rule {
    	match app-id="org.vinegarhq.Sober"
    	open-fullscreen true
}
