blender/
vesktop/
Code/
nixos/
dconf/
environment.d/
fontconfig/
GIMP/
gnome-boxes/
gpu-screen-recorder/
millennium/
inkscape/
libreoffice/
libvirt/
mpv/
nautilus/
nwg-look/
onlyoffice/
org.keshavnrj.ubuntu/
pulse/
spotify/
systemd/
telegram-desktop
wallpapers/
zen/
kamosorc
kdeglobals
kdenliverc
kritadisplayrc
kritarc
mimeapps.list
pavucontrol.init
QtProject.conf
user-dirs.dirs
user-dirs.locale
