blender/
dconf/
discord/
environment.d/
fontconfig/
GIMP/
gnome-boxes/
gpu-screen-recorder/
inkscape/
libreoffice/
libvirt/
mpv/
nautilus/
nvim/
onlyoffice/
opencode/
org.keshavnrj.ubuntu/
pulse/
quickshell/
spotify/
systemd/
wallpapers/
zen/
kamosorc
kdeglobals
kdenliverc
kritadisplayrc
kritarc
mimeapps.list
pavucontrol.ini
QtProject.conf
user-dirs.user
user-dirs.locale
