blender/
Code/
dconf/
environment.d/
fontconfig/
GIMP/
gnome-boxes/
gpu-screen-recorder/
inkscape/
libreoffice/
libvirt/
mimeapps.list
mpv/
nautilus/
nixos/
nvim/
nwg-look/
obsidian/
obs-studio/
QtProject.conf
spotify/
systemd/
telegram-desktop/
user-dirs.user
user-dirs.locale
vesktop/
wallpapers/
xsettingsd/
zen/
