//// NOTE: Niri main configuration file
include "noctalia.kdl"
include "modules/csd.kdl"
include "modules/blur.kdl"
include "modules/binds.kdl"
include "modules/input.kdl"
include "modules/debug.kdl"
include "modules/layout.kdl"
include "modules/cursor.kdl"
include "modules/monitor.kdl"
include "modules/overview.kdl"
include "modules/autostart.kdl"
include "modules/clipboard.kdl"
include "modules/workspaces.kdl"
include "modules/screenshot.kdl"
include "modules/animations.kdl"
include "modules/environment.kdl"
include "modules/layer-rules.kdl"
include "modules/window-rules.kdl"
include "modules/hotkey-overlay.kdl"
include "modules/recent-windows.kdl"
