// NOTE: Niri main config file
include "modules/csd.kdl"
include "modules/blur.kdl"
include "modules/input.kdl"
include "modules/binds.kdl"
include "modules/debug.kdl"
include "modules/layout.kdl"
include "modules/cursor.kdl"
include "modules/monitor.kdl"
include "modules/overview.kdl"
include "modules/autostart.kdl"
include "modules/workspace.kdl"
include "modules/screenshot.kdl"
include "modules/animations.kdl"
include "modules/environment.kdl"
include "modules/window-rule.kdl"
include "modules/switch-events.kdl"
include "modules/hotkey-overlay.kdl"
include "modules/recent-windows.kdl"
